<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.global.ex.mapper.BoardMapper"> <!-- 패키지 명 복붙하기!! -->
                               
	<select id="getList" resultType="edu.global.ex.vo.BoardVO"> <!-- id자리에 BoardMapper에 있는 함수 getList()가 온다. -->

 <![CDATA[
      select * from mvc_board order by bGroup desc, bStep asc
   ]]>
	</select>



</mapper>